.background-container {
  width: 100%;
  height: 100%;
  border: #dadada solid 1px;
}

.section-header {
  text-align: center;
  padding: 6px;
  border-bottom: solid 1px #dadada;
}

.section-header h2 {
  color: black;
  font-weight: 500;
}