.nav-btn {
  padding: 6px 10px;
}

.auth-nav {
  margin: 20px 0;
}

.authbody-container {
  padding: 30px;
  padding-top: 0;
}

.authlogin-container input {
  margin-bottom: 4px;
}

.authsignup-container input {
  margin-bottom: 6px;
}

.auth-h2 {
  color: black;
  font-size: 1.5rem;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.input-error-msg {
  color: red;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 4px;
}