.nav-btn {
  padding: 6px 10px;
}

.auth-nav {
  margin: 20px 0;
}

.authbody-container {
  padding: 30px;
}

.authlogin-container input {
  margin-bottom: 4px;
}

.auth-h2 {
  color: black;
  font-size: 1.5rem;
  padding: 10px;
  margin: 10px;
  text-align: center;
}