.custom-btn {
  background-color: #E2FDFF;
  border: solid 1px;
  border-radius: 5px;
  height: 35px;
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
}

.custom-btn:hover {
  background-color: #E2FDFF;
  border: solid 1px;
  box-shadow: #5465FF 0px 0px 15px;
}
