.searchbar {
  display: block;
  border: solid 1px;
  border-radius: 5px;
  height: 35px;
  margin: 5px;
}

.searchbar:focus-within {
  border-color: #5465FF;
}

.searchbar:hover {
  box-shadow: #5465FF 0px 0px 15px;
}

.search-icon {
  height: 100%;
  margin: 0px 10px;
}

.searchbar > input {
  padding: 0 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

.searchbar > input:focus {
  outline: none;
}

.searchbar > button {
  background-color: #E2FDFF;
  border-radius: 0 5px 5px 0;
  border-width: 0;
  border-left: solid 1px black;
  height: 100%;
  font-size: 12px;
  font-weight: bold;
}

.clear-x {
  margin: auto 10px;
  width: 14px;
  height: 14px;
}

.clear-x:hover {
  color: red;
}