.forumslistitem-container {
  margin: 16px;
  padding: 20px;
  border: dotted 1px #dadada;
}

.forumslistitem-container:hover {
  cursor: pointer;
}

.forum-title {
  font-family: 'Roboto Flex', sans-serif;
  color: #000;
  font-size: 32px;
}

.forumslistitem-container p {
  margin: 0;
  font-size: 14px;
}

.forum-interact-bar {
  margin-top: 10px;
}

.forum-light-text {
  color: #b3b3b3;
}

.custom-btn {
  background-color: #E2FDFF;
  border: solid 1px;
  border-radius: 5px;
  height: 35px;
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
}

.custom-btn:hover {
  background-color: #E2FDFF;
  border: solid 1px;
  box-shadow: #5465FF 0px 0px 15px;
}

.dropdown-item:hover {
  cursor: pointer;
}