.homepage-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:repeat(3, 1fr);
  min-height: 500px;
  gap: 16px;
}

.apps-container {
  grid-row: 1 / 4;
}

.date-container {
  grid-row: 1 / 2;
}

.weather-container {
  grid-row: 2 / 4;
}

@media (min-width: 992px) {
  .homepage-container {
    width: 800px;
  }
}

@media (max-width: 768px) {
  .homepage-container {
    display: flex;
    flex-direction: column;
    width: 75%;
  }
}


