.forumsectionheader-container, .forumsectionbody-container {
  margin: 16px;
  padding: 20px;
  border: solid 1px #dadada;
  background-color: #fff;
}

.forumsectionheader-container p {
  margin: 0;
  padding: 0 15px;
  font-size: 14px;
}

.forum-title {
  font-family: 'Roboto Flex', sans-serif;
  color: #282cff;
  font-size: 32px;
  text-decoration: underline;
}

.forum-light-text {
  color: #595959;
}

.forumitem-header {
  padding: 5px;
}

.forum-message-body {
  margin: 5px 15px;
  background-color: #f8f8f8;
}

.forum-message-body p {
  margin: 0 10px;
  font-size: 14px;
}

.forum-message-body h3 {
  font-weight: bold;
}