.forumsectionheader-container, .forumsectionbody-container {
  margin: 16px;
  padding: 20px;
  border: solid 1px #dadada;
}

.forumsectionheader-container p {
  margin: 0;
  font-size: 14px;
}

.forum-title {
  font-family: 'Roboto Flex', sans-serif;
  color: #000;
  font-size: 32px;
}

.forum-light-text {
  color: #595959;
}
