.applistentry {
  text-align: center;
  background-color: white;
  padding: 20px;
  margin: 16px;
  border: solid 1px #5465FF;
  border-radius: 5px;
}

.applistentry:hover {
  background-color: #ececec;
}