.forumslistitem-container {
  margin: 16px;
  padding: 20px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

.forumslistitem-container:hover {
  cursor: pointer;
  border: none;
  box-shadow: #5465FF 0px 0px 5px;
}

.forumslistitem-container p {
  margin: 0;
  font-size: 14px;
}

.upvotes-container:hover, .downvotes-container:hover {
  font-weight: bold;
}

.forum-title {
  font-family: 'Roboto Flex', sans-serif;
  color: #000;
  font-size: 32px;
}

.forum-light-text {
  color: #595959;
}

.forum-interact-bar {
  margin-top: 10px;
}